@import 'compass/css3';

$nav-color: #fff;
$nav-bg: #3498db;

nav.navbar {
  color: $nav-color;
  background-color: $nav-bg;
  border-width: 0;
  @include border-radius(0);
}

nav.navbar a,
nav.navbar a.navbar-brand
{
  color: $nav-color;
}
